{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <style>
  @font-face {
  font-family:'Norwester';
  src: url(C:/Users/Manikanta/Desktop/phoenix/norwester.otf);
  font-weight: bold;
}
.pa{
  font-family: 'Norwester';
  color:black;
}

  </style>
    <header class="masthead" style="background-image: url({% static 'img/home/11.jpg' %})">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To </div>
          <div class="intro-heading text-uppercase a1 "style='font-family: "Norwester";color: black;'>Phoenix Analytics</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Know More</a>
        </div>
      </div>
    </header>


    <!-- Services -->

  <!-- <div class='container-fluid'>  --> 
    <section id="services">
   <div class="container">
    <div class="row">
      <div class="col-md-4"><img style="height: 250px" class="img-fluid" src={% static 'img/pic1.png' %} alt="img">
        
        
      </div>
      
      <div class ='col-md-8'>

        
        <h5> WHO WE ARE</h5>
        <hr style="border: 2px solid orange;" >
        
        <h3>  Accerlating the Man-Machine working Model</h3>
Phoenix analytics is an organization that aims at providing consulting & analytical support to various business verticals. Phoenix comprises of top-class decision scientists, machine learning engineers, data analysts, web developers, software engineers & marketing specialists.

With data comes the invisible truth
        </div>
    </div>
   </div><br><br><br>
  <!--   </section> -->


 <!--    <section id="services"> -->
   <div class="container" style="background-color:rgb(242, 241, 239);padding-top: 30PX;padding-bottom: 30PX">
    <div class="row">

        <div class ='col-md-6' style="padding-left: 30px;">
        <h5>WHY DO YOU NEED US?</h5><hr style="border: 2px solid orange; width=5 ;align-items: left;" >
        <h3> We help you sustain and rule the game!</h3>
Our collaboration will enable your company to withstand day to day challenges, obtain a better understanding of the market & prevent from getting disrupted by other industries
        </div>
      <div class="col-md-6"><img style="height: 250px" class="img-fluid" src={% static 'img/pic 2.png' %} alt="img">
        
        
      </div>
    
    </div>
   </div><br><br><br>
   <!--  </section> -->

     <!--    <section id="services"> -->
   <div class="container">
    <div class="row">
      <div class="col-md-5"><img style="height: 450px" class="img-fluid" src={% static 'img/pic3.png' %} alt="img">
        
        
      </div>
      <div class ='col-md-7'>
      <h5>WHAT DO WE OFFER</h5><hr style="border: 2px solid orange; width=5 ;" >
        <h3>  Three engines drive our vehicle! </h3>
        <div class='container'>
          
        
                <p><b>Steroid (Consulting engine)</b><br>
                Revenue generation,
                 Cost optimization,
                 Staff training, 
                 Automated reporting, 
                 Manual support services etc.<br><br>
 

<b>Third Eye (Analytics engine)</b><br>
Descriptive analytics, Inquisitive analytics, Prescriptive analytics & Predictive analytics</p>

<b>Echo (Marketing & Sales engine)</b><br>
selling, 
merchandising & commercializing,
</div>

    
    </section>
       

 <div class="container-fluid" style="background-color:rgb(242, 241, 239);padding-top: 30PX;padding-bottom: 30PX;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services </h2><br><br>
          <h3 class="section-subheading text-muted" id="a1">What We Offer </h3><br>
        </div>
      </div>
    <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail text-center">
      <img class="img-fluid text-center" style="" src=/static/img/xyz/consul.jpg alt="">

         <div class="service-box ">
                <div class="service-icon yellow">
                    <div class="front-content">
                        <h4>Consulting</h2>

                    </div>
                </div>
                <div class="service-content">
                    <h3 style='color: orange;'><b>Steroid (Consulting engine)</b><br></h3>
                <h6 style='color: white;'>Revenue generation,<br>
                 Cost optimization,<br>
                 Staff training, <br>
                 Automated reporting, <br>
                 Manual support services etc.<br></h6>


                </div>
            </div>
       </div>
    </div>



    <div class="col-sm-6 col-md-4">
      <div class="thumbnail ">
      <img class="img-fluid" style="" src=/static/img/xyz/sales.png  alt="">

         <div class="service-box ">
                <div class="service-icon yellow">
                    <div class="front-content">
                      <h4>Marketing & Sales</h2>
                        
                    </div>

                </div>
                <div class="service-content">
                    <h3 style='color: orange;'><b>Echo (Marketing & Sales engine)</b></h3><br>
                          <h6 style='color: White;'>selling, <br>
                          merchandising & <br>commercializing<br></h6>


                </div>
            </div>
       </div>
    </div>
        <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <img class="img-fluid" style="" src=/static/img/xyz/analytics.jpg  alt="">

         <div class="service-box ">
                <div class="service-icon yellow">
                    <div class="front-content">
                        <h4>Analytics</h3>

                    </div>
                </div>
                <div class="service-content">
                  
                 <h4 style="color: orange;"> <b>Third Eye (Analytics engine)</b></h4><br>
<h6 style='color:white;'>Descriptive analytics,<br> Inquisitive analytics,<br> Prescriptive analytics & Predictive analytics</h6>


                </div>
            </div>
       </div>
    </div>
    </div>
    
    <!-- About -->
  
    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>  
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/preetham.png' %}" alt="">
              <h4>Preetham</h4>
              <p class="text-muted">Consulting Analyst</p>
           <!--    <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>

                    <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src={% static 'img/team/prasanna.png' %} alt="">
              <h4>Prasanna</h4>
              <p class="text-muted">Web Designer</p>
              <!-- <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>

                    <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src={% static 'img/team/mohith.png' %} alt="">
              <h4>Man Mohith</h4>
              <p class="text-muted">Marketing Analyst</p>
            <!--   <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>

                    <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src={% static 'img/team/surya.png' %} alt="">
              <h4>Surya</h4>
              <p class="text-muted">Web Developer</p>
          <!--     <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src={% static 'img/team/mani.png' %} alt="">
              <h4>Mani kanta</h4>
              <p class="text-muted">Sales Analyst</p>
            <!--   <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src={% static 'img/team/abhishek.png' %} alt="">
              <h4>Abhishek</h4>
              <p class="text-muted">Marketing Intern</p>
            <!--   <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
  
      </div>
    </section>


   
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">&copy;Copy rights reserved | Phoenix Analytics 2019 </span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/PhoenixAnalyti2" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Phoenix-Analytics-894364120913698/?modal=admin_todo_tour" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/phoenix_analytics/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright" ><a  href='{% url "home" %}' style='color:black'>www.phoenixanalytics.in</a></span>
            <!-- <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>                                    
              </li>
            </ul> -->
          </div>
        </div>
      </div>


    </footer>


   <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>
    <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}